<h2>Welcome to ezFLM</h2>

<p>
    Hello <strong>{{name}}</strong>,<br />
    Your account has been successfully created. Please use the credentials below to sign in.
</p>

<table class="card" width="100%">
    <tr>
        <td class="label">Email</td>
        <td class="value">{{email}}</td>
    </tr>
    <tr>
        <td class="label">Password</td>
        <td class="value">{{password}}</td>
    </tr>
</table>

<div class="btn-wrap">
    <a href="{{appUrl}}" class="btn">Login to ezFLM</a>
</div>
